{% extends 'common/layout.twig' %}
{% block page_title %}
    <title>get etsy oauth tokens</title>
{% endblock %}
{% block content %}
    {% if msg %}
        <div class="">{{ msg }}</div>
    {% endif %}
    {% if error %}
        <div class="">{{ error }}</div>
    {% endif %}
    <form method="post" action="">
        <div class="form-group">
            <label for="key_string">Key String</label>
            <input type="text" name="key_string" id="key_string" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="shared_secret">Shared Secret</label>
            <input type="text" name="shared_secret" id="shared_secret" class="form-control" required>
        </div>
        <div class="form-group">
            <button type="submit" name="submit">Submit</button>
        </div>
        {#<div class="form-group">#}
        {#<button type="button" id="how_to_get_initial_keys">where do I get these?</button>#}
        {#<div id="help_for_initial_keys">#}
        {#<p>visit <a href="https://www.etsy.com/developers/your-apps" target="_blank">https://www.etsy.com/developers/your-apps</a></p>#}
        {#<img src="{{ root_url() }}assets/images/etsy_initial_keys.jpg" style="width: 100%;">#}
        {#</div>#}
        {#</div>#}
    </form>
{% endblock %}
{% block foot_javascript %}
    <script type="text/javascript">

    </script>
{% endblock %}