<div class="modal fade" id="" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="title">inventory plus/minus</h4>
            </div>
            <div class="modal-body">
                <div class="inventory_calculator col-md-12 col-lg-12 row">
                    <div class="calc_display col-md-6 col-lg-6">
                        <div class="calc_result">
                            <ul>
                            </ul>
                        </div>
                    </div>
                    <div class="calc_control col-md-6 col-lg-6">
                        <!-- data-type attribute is either plus or minus -->
                        <input type="number" name="calc_input" class="calc_input" value="" placeholder="number of items">
                        <select class="calc_commands">
                            <option value="">Reason</option>
                            <option data-calc_command="+" value="New shipment">Recieved New shipment</option>
                            <option data-calc_command="-" value="Gift">Gift to other</option>
                        </select>
                        <button type="button" class="calc_ans">calculate</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary apply_calc" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>