<div class="panel panel-info linked_item">
    <span class="position badge">1</span>
    <span class="freshness_status label label-warning">not saved</span>
    <div class="panel-heading">
        <label class="item label label-primary" data-uniqid=""></label>
        <p class="item-xtra-info small"></p>
        <i class="removeItemPanel small fa fa-times"></i>
    </div>
    <div class="panel-body">
        <input type="text" style="width:60px" name="multiply" value="">
        x =
        <span class="multiply_txt"></span>
    </div>
</div>