{% extends 'common/layout.twig' %}
{% block page_title %}
    <title>image upload</title>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            host images, url will be like https://server_name/img/imagename.estension
        </div>
        <div class="panel-body">

        </div>
    </div>
{% endblock %}